---
title: Design in the Department for Education
description: Standards guidance and information for designing services in DfE.
weight: 0
---

# Design documentation

This documentation site will help you design services in DfE that are accessible, understandable and usable.

<div class="govuk-inset-text">
It will help you to understand how to <a href="https://dfe-digital.github.io/apply-the-service-standard-in-dfe">apply the Service Standard in DfE</a>.
</div>

It supports the following communities:

- Content design
- Interaction design
- Service design

It complements the following GOV.UK guidance:

- [GOV.UK Service Manual](https://www.gov.uk/service-manual)
- [Writing for GOV.UK](https://www.gov.uk/guidance/content-design/writing-for-gov-uk)
- [GOV.UK Design System](https://design-system.service.gov.uk/)

You can also find more information in other DfE guidance.

- [DfE Technical Guidance ](https://technical-guidance.education.gov.uk/)
- [DfE Architecture](https://dfe-digital.github.io/architecture/)